.button {
  padding: 10px 20px;
  background-color: #2F77EB;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: normal;
  transition: background-color 0.25s ease, transform 0.2s ease;
}

/* Hover effect */
.button:hover {
  background-color: #1A3591; /* slightly darker blue */
}
