.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 0;
  background-color: #F9FDFF;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px; 
  box-sizing: border-box;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__nav-links{
  display: flex;
  gap: 2rem;
}

.header__nav-link {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.header__nav-link:hover {
  color: #007bff;
}

.header__buttons {
  display: flex;
  gap: 12px;
}

.header__button--login,
.header__button--register{
  text-decoration: none;
}

.header__button--login {
  background-color: transparent; 
  color: #121212 ;
  padding: 8px 16px ;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.25s ease, color 0.25s ease;
}

.header__button--login:hover {
  background-color: #e6e6e6;
  color: #000;
}

.header__button--register {
  background-color: #2F77EB;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.25s ease, color 0.25s ease;
}

.header__button--register:hover {
  background-color: #1a5fcc;
  color: #fff;
}


hr{
  padding: 12px 0;
  border: 1px solid rgba(128, 128, 128, 0.366);
  margin-left: 10px;
}