.register__form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  max-width: 400px;
}

.register__form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.register__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.register__divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(37, 34, 30, 0.6);
  font-size: 14px;
  width: 100%;
  margin: 12px 0;
}

.register__divider::before,
.register__divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  margin: 0 8px;
}

.register__social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  background-color: #F9FDFF;
  cursor: pointer;
  transition: all 0.25s ease;
}

.register__social-btn img {
  width: 20px;
  height: 20px;
}

.register__social-btn.google:hover {
  background-color: #f5f5f5;
}

.register__social-btn.facebook:hover {
  background-color: #f0f4ff;
  border-color: #2f77eb;
}

.register__helper-login {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.register__heading {
  font-size: 3rem;
  line-height: 0.8;
}

.register__message {
  color: rgba(37, 34, 30, 0.7);
  font-size: 18px;
  margin-bottom: 14px;
}

.register__footer {
  text-align: center;
  margin-top: 10px;
}


.register__submit-btn {
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #2F77EB;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: normal;
  transition: background-color 0.25s ease, transform 0.2s ease;
}

/* Hover effect */
.register__submit-btn:hover {
  background-color: #1A3591; /* slightly darker blue */
}
