.register__form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  max-width: 400px;
}

.register__divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(37, 34, 30, 0.6);
  font-size: 14px;
  width: 100%;
  margin: 12px 0;
}

.register__divider::before,
.register__divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  margin: 0 8px;
}

.register__heading {
  font-size: 3rem;
  line-height: 0.8;
}

.register__message {
  color: rgba(37, 34, 30, 0.7);
  font-size: 18px;
  margin-bottom: 14px;
}


.register__submit-btn {
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #2F77EB;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: normal;
  transition: background-color 0.25s ease, transform 0.2s ease;
}

.register__submit-btn:hover {
  background-color: #1A3591; /* slightly darker blue */
}
