.login__form-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    max-width: 450px;
}

.login__helper-signup,
.login__forgot{
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

.login__heading{
    font-size: 3rem;
    line-height: 0.8;
}

.login__message{
    color: rgba(37, 34, 30, 0.70);
    font-size: 18px;
    margin-bottom: 14px;
}