.register__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.register__social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  background-color: #F9FDFF;
  cursor: pointer;
  transition: all 0.25s ease;
}

.register__social-btn img {
  width: 20px;
  height: 20px;
}

.register__social-btn.google:hover {
  background-color: #f5f5f5;
}

.register__social-btn.facebook:hover {
  background-color: #f0f4ff;
  border-color: #2f77eb;
}

