.register__form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  max-width: 450px;
}

.register__form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.register__name-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.register__helper-login {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.register__heading {
  font-size: 3rem;
  line-height: 0.8;
}

.register__message {
  color: rgba(37, 34, 30, 0.7);
  font-size: 18px;
  margin-bottom: 14px;
}

.register__footer {
  margin-top: 10px;
}
