.personal__form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  max-width: 400px;
}

.personal__heading {
  font-size: 3rem;
  line-height: 1.25;
}

.personal__message {
  color: rgba(37, 34, 30, 0.7);
  font-size: 18px;
  margin-bottom: 14px;
}