.features__title{
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
}
.features__description{
    text-align: center;
    color: rgba(37, 34, 30, 0.70);
    margin-bottom: 40px;
    font-size: 1.1rem;
}