
.verification__right {
  flex: 1;
  background-color: #f0f5ff; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.verification__illustration {
  width: 80%;
  height: 80%;
  background-color: #dce8ff; /* light placeholder */
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5a7edc;
  font-size: 1.2rem;
  text-align: center;
}
