*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9fdff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.illustrator {
  width: 600px;
  height: auto;
  border-radius: 16px;
  padding: 12px;
}
