.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.register__helper-login {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.register__heading {
  font-size: 3rem;
  line-height: 0.8;
}

.register__message {
  color: rgba(37, 34, 30, 0.7);
  font-size: 18px;
  margin-bottom: 14px;
}

.register__footer {
  text-align: center;
  margin-top: 10px;
}
